$primary-background-color: rgb(4, 50, 104);
$primary-border: 1px solid #b8b8b8;
$primary-box-shadow: 1px 1px 6px 1px rgba(184, 184, 184, 1);
$primary-border-radius: 12px;
$primary-margin-retreat: 0 12px;
$primary-padding-retreat: 12px;
$primary-color: #222222;
$secondary-color: #ffffff;
$fz-title: 20px;
$fz-title-form: 18px;
$fw-title: 500;